{% extends "main.twig" %}
	{% block content %}
		<div class="row">
			<div class="col-md-4">
				{% for post in posts %}
					<a href="{{post.permalink}}"><h3>{{post.title}}</h3></a>
					{{post.get_content}}
				{% endfor %}
			</div>
		</div>
		{% include 'about.twig' %}
	{% endblock %}